body {
  font-family: sans-serif;
}

.list__item__expense {
  margin-right: .5rem;
}

.alert {
  padding: .5rem 1.5rem;
}

.alert--danger {
  background-color: red;
}

.alert--success {
  background-color: lightgreen;
}